.wpb-slide-caption .wpb-button{
	display: inline-block;
	width: auto;
}

/* Button */
.wpb-button-inner{
	margin-top: 1em;
	display: inline-block;
}

a.wpb-button{
	display: inline-block;
	width: auto!important;
	margin-bottom: 0;
}