/* Custom Flexslider Styles
---------------------------------------*/

/* reset */
.wpb-row .flexslider {
	margin: 0 0 0;
	border: none;
	background: none;
	border-radius:0;
	box-shadow:none;

	/*a{
		border:none!important;
	}*/

	img{
		backface-visibility:hidden;
		border:none!important;
		&:hover{
			opacity:1!important;
		}
	}

	a:hover{
		opacity:1!important;
	}

	ul, ol{
		margin: 0!important;
		padding: 0;
	}

	ul.slides{
		//max-width: none!important;
	}

	ul.slides li{
		//padding: 0!important;
		//margin-left: 0!important;
		//list-style-type: none!important;
		//position:relative;
	}

	.flex-caption{
		margin-top: 0!important;
		backface-visibility:hidden;
		max-width: 95%;
	}
}

.wpb-row{
	
	.flex-control-paging{
	        max-width: none!important;
		z-index: 999;
		height: 0;
		bottom : 30px;

		li a{
			width: 8px;
			height: 8px;
			background: #fff!important;
			box-shadow: none;
			transition : all .2s ease;

			&:hover{
				box-shadow: 0 0 0 1px white;
			}

			&.flex-active{
				background: none!important;
				@include box-shadow(0 0 0 1px #fff);
				
				&:hover{
					box-shadow: inset 0 0 0 11px white;
				}
			}
		}
	}

	.flex-direction-nav{
	        max-width: none!important;
		.flex-disabled{
			display: none;
		}

		li{
			list-style-type: none;
		}

		.flex-prev,
		.flex-next{
			height: 50px;
			width: 50px;
			color: rgba(0,0,0,0.5);

			&:hover{
				color: #fff;
			}
		}
	}

	.format-gallery .wolf-gallery-slider{

		.flex-control-nav{
			height: 30px;

			li a{
				width: 12px;
				height: 12px;
			}
		}
	}

	.flex-direction-nav{

		.flex-prev,
		.flex-next{
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background-repeat: no-repeat;

			&:before{
				display: none;
			}
		}

		.flex-prev,
		.flex-next{
			width: 30px;
			height: 60px;
			background-size: 30px 60px;
			margin-top: -30px;
			background-color: transparent!important;
			background-position: center center;
		}

		.flex-next{
			background-image:url('../img/slider/next-light.png');

		}

		.flex-prev{
			background-image:url('../img/slider/prev-light.png');
		}
	}

	.flex-caption{
		display: block;
		position: absolute;
		top:20px;
		padding : 0.5em 1em;
		font-size: 0.95em;
		background: #333;
		background :rgba(0,0,0, 0.5);
		color:#fff;
	}
} // end wpb-row

