.owl-carousel{
	img{
		backface-visibility:hidden;
	}
}

.owl-carousel .owl-wrapper-outer{
	z-index: 1;
}

.owl-dots{
	z-index: 999;
	height: 0;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	
	.owl-video-tn{
		backface-visibility:hidden;
	}
	
	.owl-dot{
		display: inline-block;
		zoom: 1;
		margin: 0 6px;
		border-radius:50%;
	
		width: 8px;
		height: 8px;
		box-shadow: none;
		transition : all .2s ease;
		
		background: #333;
		
		&.active{
			background: none!important;
			box-shadow:0 0 0 1px #333;
		}

		&:hover{
			box-shadow: 0 0 0 1px #333;
		}
	}
}

.owl-prev,
.owl-next{
	position: absolute;
	top: 50%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 20px;
	height: 40px;
	background-size: 20px 40px;
	background-repeat: no-repeat;
	margin-top: -20px;
	
	&:before{
		display: none;
	}
}

.owl-next{
	right: 8px;
	background-color: transparent!important;
	background-position: center center;
}

.owl-prev{
	left: 8px;
	background-color: transparent!important;
	background-position: center center;
}

.owl-next{
	background-image:url('../img/slider/next-light.png');
}

.owl-prev{
	background-image:url('../img/slider/prev-light.png');
}

.owl-carousel .owl-video-play-icon{
	background-image:url(../img/play.png);
	background-size: 100%;
	background-size: cover;
}

.owl-carousel .owl-video-wrapper,{
	background: none!important;
}

.item-video{
	background:#000 no-repeat center center;
	background-size:100%;
	background-size:cover;
}

.owl-video-tn{
	background: none!important;
	backface-visibility:hidden;
}