span.wpb-close-admin-notice{
	font-weight: bold;
	display:inline;
	float: right;
	cursor:pointer;
	font-size: 18px;
	line-height: 15px;
}

span.wpb-dismiss-admin-notice{
	font-weight: normal;
	display:inline;
	float: right;
	cursor:pointer;
	font-size: 11px;
	line-height: 14px;
	margin-right:15px;
}