.wpb-call-to-action{
	text-align: center;
	padding: 2.5em 0 2.5em;
	
	p{
		margin-top: 0;
		margin-bottom: 0;
	}

	h4{
		font-size: 24px;
	}

	h2,h3,h4,h5,h6{
		line-height: 1;
		margin-bottom: 0;
	}

	a.wpb-button{
		display: inline-block;
	}
}

.wpb-call-to-action-text{
	margin-bottom: 25px;
}