.wpb-counter-icon-container{
	width: 100%;
	display: block;
	text-align: center;
	//color: #333;
}

.wpb-counter,
.wpb-counter-text{
	display: block;
	text-align: center;
	//color: #333;
}

.wpb-counter{
	line-height: 1.5;
	font-size: 32px;
}

.wpb-counter-text{
	font-size: 14px;
}