.wpb-row{
	.owl-prev,
	.owl-next{
		position: absolute;
		top: 50%;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 20px;
		height: 40px;
		background-size: 20px 40px;
		background-repeat: no-repeat;
		margin-top: -20px;

		&:before{
			display: none;
		}
	}

	.owl-next{
		right: 8px;
		background-color: transparent!important;
		background-position: center center;
	}

	.owl-prev{
		left: 8px;
		background-color: transparent!important;
		background-position: center center;
	}

	.owl-next{
		background-image:url('../img/slider/next-light.png');
	}

	.owl-prev{
		background-image:url('../img/slider/prev-light.png');
	}

	.flex-direction-nav{
	        max-width: none!important;
		.flex-disabled{
			display: none;
		}

		li{
			list-style-type: none;
		}

		.flex-prev,
		.flex-next{
			height: 50px;
			width: 50px;
			color: rgba(0,0,0,0.5);

			&:hover{
				color: #fff;
			}
		}
	}

	.format-gallery .wolf-gallery-slider{

		.flex-control-nav{
			height: 30px;

			li a{
				width: 12px;
				height: 12px;
			}
		}
	}

	.flex-direction-nav{

		.flex-prev,
		.flex-next{
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			background-repeat: no-repeat;

			&:before{
				display: none;
			}
		}

		.flex-prev,
		.flex-next{
			width: 30px;
			height: 60px;
			background-size: 30px 60px;
			margin-top: -30px;
			background-color: transparent!important;
			background-position: center center;
		}

		.flex-next{
			background-image:url('../img/slider/next-light.png');

		}

		.flex-prev{
			background-image:url('../img/slider/prev-light.png');
		}
	}
}